body {
  margin: 0;
  height: 100vh;
  background: url(photos/background.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}


.logo{
    position: absolute;
    top: -30px;
    left: 10px;
    width: 220px;
    height: 110px;
    margin-bottom: none;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fffcfc;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    justify-content: center;
}

.top-bar button {
    background-color: #6d64ef;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.top-bar button:hover {
    background-color: #777;
}
